.full_width_section {
  /* https://salferrarello.com/full-screen-width-image-inside-container/ */
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  width: auto;
  padding: 0;
}